@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Montserrat', sans-serif;
    /* height: 1000px; */
}
.header
{
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    z-index: 100;
}
.header ul li .header-active
{
    float: left;
    color:rgb(255, 153, 0);
    margin-right: 300px;
}
.header ul 
{
    float: right;
    list-style: none;
    margin-right: 200px;
    margin-top: 20px;
    text-transform: capitalize;
}
.header ul li 
{
    display: inline-block;
    margin-left: 20px;
}
.header ul li a
{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.header ul li a:hover
{
    color:rgb(255, 153, 0);
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.first
{
    /* position: relative; */
    width: 100%;
    height: 100vh;
    background-image: url(imgs/backgroud\ image.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.first-box
{
    width: 80%;
    margin:auto ;
    text-align: center;
}
.first-content
{
    padding-top: 250px;
}
.first-h1
{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
}
.first-h1 .first-span
{
    color:rgb(255, 153, 0);
}
.first-p
{
    color: white;
    font-size: 17px;
}
.first-button
{
    width: 150px;
    height: 50px;
    background-color:rgb(255, 153, 0);
    text-transform: capitalize;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.second
{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.second-box
{
    width: 90%;
    margin: auto;
}
.second-img
{
    float: right;
    padding-top: 50px;
}
.second-content
{
    padding-top: 250px;
}
.second-h1
{
   color: rgb(255, 153, 0);
   text-transform: capitalize;
   font-size: 40px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.third
{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 204, 255);
    text-align: center;
}
.third-h1
{
    padding-top: 70px;
    color: white;
    font-size: 40px;
    text-transform: capitalize;
}
.third-span
{
    color: rgb(255, 136, 0);
}
.third-p
{
    padding: 30px 30px;
}
.third-content
{
    width: 20%;
    margin-top: 30px;
    margin-left: 50px;
    float: left;
}
.third-circle
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 80px;
    border: 8px solid  rgb(255, 136, 0);
}
.third-circle a i
{
    color: white;
    font-size: 40px;
    padding-top: 17px;
}
.third-h3
{
    padding-top: 10px;
    padding-bottom: 20px;
    text-transform: capitalize;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.fourth
{
    width:100% ;
    height: 100vh;
    background-color: white;
}
.fourth-box
{
    width: 90%;
    margin: auto;
}
.fourth-title
{
    text-transform: capitalize;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 500px;
}
.fourth-span
{
    color: rgb(255, 136, 0);
}
.fourth-content
{
    width: 30%;
    float: left;
}
.fourth-h4
{
    text-transform: capitalize;
    font-size: 20px;
    float: left;
}
.fourth-p
{
    padding-top: 15px;
}
.ff
{
    margin: 0 5%;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


.fifth
{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.fifth-title
{
    text-transform:capitalize ;
    padding-top: 50px;
    padding-left: 500px;
    padding-bottom: 30px;
}
.fifth-span
{
    color: rgb(255, 136, 0) ;
}
.fifth-box
{
    width: 90%;
    margin: auto;
}
.fifth-img
{
    float: left;
}
.mg1
{
    width: 23%;
    height: 200px;
    padding-left:20px;
    padding-top: 20px;
}
.mg2
{
    width:46% ;
    height: 200px;
    padding-left:25px;
    padding-top: 20px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



.sixthly
{
    width: 100%;
    height: 70vh;
    background-color: rgb(226, 224, 224);
}
.sixthly-title
{
    text-transform: capitalize;
    padding-top: 50px;
    padding-left: 530px;
    padding-bottom: 30px;
}
.sixthly-span
{
    color: rgb(255, 136, 0) ;
}
.sixthly-box
{
    width: 90%;
    margin: auto;
}
.sixthly-content
{
    width: 30%;
    float: left;
    background-color: rgb(243, 240, 240);
} 
a i 
{
    color: rgb(255, 136, 0) ;
    font-size: 50px;
}
.sixthly-p 
{
    text-align: center;
    padding: 0 10px;
}
.sixthly img
{
    padding-left: 130px;
}
.rr 
{
    margin: 0 5%;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
